<div class='row'>
	<div class='col-md-12'>
	  <% actions_for.each do |action| %>
	    <div class="btn-group">
	      <%= link_to action.link, '#', class: "btn btn-default" %>
	    </div>
	  <% end %>
	</div>
</div>