<h1>Главная страница</h1>
<p>Здравствуйте, <%= current_user.email %>!</p>

<div class='row'>
  <% actions_for(current_user).each do |action| %>
    <div class="btn-group">
      <%= link_to action.link, '#', class: "btn btn-default" %>
    </div>
  <% end %>
</div>
 
<div class='left'>
  <%#= menu_for current_user, scope: :left do |item| %>
    <li>
    	<a href='<%#= item.url%>'>
    		<%#= item.title %>
    	</a>
    </li>
  <%# end %>
</div>

<table>
	<tr>
  	<%#= data_for current_user, ObjectClass do |field|  %>
      <th><%#= field.title %></th>
   <%# end %>
	</tr>
	<%# @collection.each do |object| %>
    <tr>
      <%#= data_for current_user, object do |data| %>
        <td>
          <%#= data %>
        </td>
      <%# end %>
    </tr>
	<%# end %>
</table>
