<h1>Статические страницы</h1>

<table>
	<tr>
    <th>Заголовок</th>
    <th>Содержание</th>
	</tr>
	<% @collection.each do |object| %>
    <tr>
      	<td>
      		<%= object.title %>
      	</td>
        <td>
          <%= object.body %>
        </td>
    </tr>
	<% end %>
</table>